header {
    
    height: 40%;
    background-color: rgb(171, 245, 171);
}
nav {
    height: 100%;
    
 }
#buscar{
    align-content: right;

}
h1{
    height: 60%;
    text-align: center;
    background-image: -moz-element()
}

#container{
	background-color:yellowgreen;

}
#formulario{
    background-color: rgb(235, 231, 208)


}


#principal {
    display: flex;
    align-items: stretch;
}


footer
{
    margin-top:50px;
    width:100%;
    height:200px;
    background-color:beige;
}

div{
    align-content: center;
}
.selector-for-some-widget {
  box-sizing: content-box;
}

.carousel-item{
    width: 50%;
    align-items: center;
    align-content: center;
     height: 250px;
}
